.Segment {
  flex-basis: calc(50% - 20px);
  margin: 10px;
  cursor: pointer;
}
.Segment:hover{
	opacity: 0.9;
}
.Segment-picture {
	height: 200px;
	background-size: cover;
	background-position: center;
}
.Segment-title {
	margin-top: 10px;
	font-weight: bold;
}