.App {
  display: flex;
}
.Main {
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
}
.Map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
}
.Segments {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
